<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheTokens="false"
         colors="true"
         beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="Cache">
            <directory>test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener">
            <arguments>
                <array>
                    <element key="time-sensitive">
                        <string>Atoms\Cache</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
</phpunit>
